{% load admin_urls %}
{% load i18n %}
<div class="text-input-filter">
    <form method="get">
        {% for key, value in request.GET.items %}
            {% if key != parameter_name %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endfor %}
        <input type="text" name="{{ parameter_name }}" value="{{ value|default_if_none:'' }}" placeholder="{% trans 'Enter text' %}">
        <button type="submit" class="button">{% trans 'Go' %}</button>
    </form>
</div>
