
<div class="container mt-4">
<h1><a href="{% url 'card_list' %}" class="text-decoration-none text-dark">List of Cards</a></h1>

<form method="get" class="mb-4">
  <div class="input-group">
    {{ form.query }}
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<div class="row">
  {% for card in cards %}
  <div class="col-md-3 mb-4">
    <div class="card h-100 shadow-sm">
      <a href="{% url 'offer_list' card.id %}" class="text-dark text-decoration-none">
        <img src="{{ card.image.url }}" class="card-img-top" alt="no_image :(">
        <div class="card-body">
          <h5 class="card-title">{{ card.name }}</h5>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
</div>